/* google fonts */

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Work+Sans:wght@400;500;600;700;800&display=swap');
* {
    box-sizing: border-box;
    font-family: Work Sans;
}

body {
    padding: 0;
    margin: 0;
}


/* header section navigation bar */

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.logo img {
    width: 70px;
}

.logo-title {
    font-size: 2.8rem;
    font-weight: 700;
    padding: 0;
    margin: 0;
}

.logo-title .logo-g {
    color: #FF42A5;
}

.navigation {
    display: flex;
    justify-content: space-between;
    margin: 28px 200px;
}

.navigation-bar {
    display: flex;
    align-items: center;
}

.navigation-bar li {
    list-style: none;
    margin-left: 26px;
}

.navigation-bar li a {
    text-decoration: none;
    color: #3C354F;
    font-size: 1.12rem;
    font-weight: 500;
}

.nav-social {
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 17px 24px;
}

.navigation-bar .nav-social span {
    color: #3C354F;
    font-size: 1.12rem;
    font-weight: 500;
    margin-right: 15px;
}

.navigation-bar .fa-brands {
    margin-left: 3px;
    cursor: pointer;
    width: 30px;
}


/* header banner section */

.banner {
    display: flex;
    justify-content: space-between;
    gap: 68px;
}

.banner-text {
    background-image: url('../images/Group\ 14.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

.banner-img {
    width: 100%;
    margin-right: 160px;
}

.banner-img img {
    width: 100%;
}

.banner-title {
    color: #0B0223;
    text-align: center;
    font-size: 2.9rem;
    font-weight: 600;
    margin: 0;
}

.banner-goat {
    font-size: 5.638rem;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
}

.banner-text-content {
    margin-left: 160px;
}

.banner-text-content p {
    color: #534C64;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: normal;
    display: flex;
}

.btn {
    padding: 20px 40px;
    border-radius: 48px;
    border: none;
}

.btn1 {
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    margin-right: 16px;
}

.btn2 {
    background: #4EC5F7;
}


/* main styles */

main {
    max-width: 1440px;
    margin: 100px auto;
}


/* responsive with media quary */

@media screen and (max-width:576px) {
    .navigation {
        flex-direction: column;
        margin: 1px auto;
        padding: 10px;
    }
    .navigation .logo {
        margin: 0 auto;
        padding: 10px;
    }
    .navigation-bar {
        flex-direction: column;
    }
    .banner {
        flex-direction: column;
    }
    .banner-img img {
        width: 100%;
        margin: 0 auto;
    }
}